[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/local/bin/vim

[user]
	email = 40167702+niiccolas@users.noreply.github.com
	name = niiccolas
[credential]
	helper = osxkeychain
[commit]
	template = ~/.gitmessage.txt
[color]
  ui = auto