[core]
	excludesfile = /Users/niic/.gitignore_global
  editor = /usr/local/bin/vim
  autocrlf = input

[user]
  email = 40167702+niiccolas@users.noreply.github.com
  name = niiccolas
[credential]
  helper = osxkeychain
[commit]
  template = ~/.gitmessage.txt
[color]
  ui = auto

# VSCODE AS GIT DIFF/MERGE TOOL
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE

# CONDITIONAL CONFIG FILE FOR PROFESSIONAL PROJECTS
[includeIf "gitdir:~/Sync/Code/pro/"]
  path = ~/.gitconfig-pro
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
